body {
	margin: 0;
	/overflow: hidden;
}
.page {
	padding: 1px 0;
}
.index .page {
	background: rgba(0, 0, 0, .3);
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    background-color: rgba(26, 10, 56, 1);
}
.page-header h1 {
	order: 1;
	margin-left: 20%;
}
.page-title {
    /font-size: 2em;
    margin: 0 auto;
    text-align: center;
    color: #020133;
}
.page-title {
	font-size: 1.5rem;
	order: 1;
}
.index-link{
	order: 0;
	font-size: 2em;
	margin-left: 30px;
}

.chat-pane {
	width: 75%;
	margin: 0 auto;
}

.direction {
	margin-top: 95px;
	text-align: center;
	font-family: Montserrat, sans-serif;
	margin-bottom: 20px;
}
.chat-stamp {
	font-size: .7em;
	opacity: .7;
	text-shadow: 1px 0 1px rgba(255,255,255,.3);
}
.btn-room, .sendMsg input[type=submit] {
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select:none;
    padding: 0 .75rem;
    font-size: 1.3em;
    border-radius: .25rem;
    transition: all .2s;
    color: var(--red);
    background-color: black;
    transition: all .2s;
}
.btn-room:hover, .btn-room:focus {
	transform: scale(1.1);
	opacity: .8;
}
.messages {
	height: calc(91vh - 40px);
	overflow-y: scroll;
	padding: 7px 0 10px;
	margin-top: 37px;
	background-size: cover;
	background-repeat: no-repeat;
}
.old.messages li div {
	background-color: #9aaba2;
}
.messages li {
	width: 100%;
}
form {
	display: flex;
	margin: 0 auto;
}

.msgTextbox {
	font-size: 1.2rem;
	padding: 10px;
	margin: 0 5px;
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid rgba(26, 10, 56, 1);
	border-radius: 5px;
}
.msgTextbox {
	flex: 2;
	/*set to autofocus in HTML which is repsonsible for bringing the app into view, even if 
	there is other content before it*/
}
.sendMsg button {
	font-size: 1.2rem;
    padding: 10px;
    margin: 10px 5px;
    appearance: none;
    -webkit-appearance: none;
    border: thin solid rgba(0,0,0,.2);
    border-radius: 5px;
}
.joined, .is-typing {
	margin: 0 auto;
	color: #070b17;
	padding: 3px 10px;
	text-align: center;
}
.joined > span, .is-typing > span {
	display: inline-block;
	background : rgba(159, 192, 228, 0.4);
	font-size: 1.1em;
	padding: 5px 5px;	
	border: thin rgba(255,255,255,.3) solid;	
	text-shadow: 1px 1px 1px rgba(255,255,255,.3);
}
.is-typing > span {
	background: none;
	text-shadow: 1px 1px 1px rgba(255,255,255,.3);
	border: none;
	color: #f0f1d0;
	font-weight: bolder;
}
.msg, .other-msg {
	background-color: #82bf9d;
	padding: 15px 50px;
	font-size: 1em;
	display: block;
	max-width: 100%;
}
.other-msg {
	margin-left : auto;
	background-color: #9aaba2;
}
.msg p {
	margin: 0;
	font-weight: bold;
}
.msg span {
	font-size: 1.1rem;
	margin-left: 15px;
}
.user {
	font-size: 0.85em !important;
	font-weight: bold;
	opacity: .8;
	margin-left: 0 !important;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
}

