.register-now {
    display: flex;
    width: 60%;
    margin: auto;
    min-height: 60vh;
}
.connect, .register {
    padding: 60px 30px;
}
.register {
    padding-top: 30px;
    padding-bottom: 30px;
}
.connect {
    position: relative;
    flex: 0 0 40%;
    background-image: url("../images/chat-connect-blur.png");
    background-size: cover;
    background-position: -35px center;
    border: 5px solid rgba(255,255,255,.7);
}
.login-main .connect {
    padding-top: 30px;
}
.connect::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,.8);
}
.registration {
    flex: 0 0 60%;
    position: relative;
    z-index: 1;
    background-color: rgba(247, 247, 247, .7);
}
.connect .header {
    position: relative;
    font-size: 2em;
    margin-bottom: .7em;
    color: white;
}
.connect p {
    position: relative;
    color: white;
    border-bottom: 2px solid var(--red);
}
.register-now p {
    font-size: 1.1em;
    font-family: var(--font-primary);
    opacity: .7;
    padding-bottom: .3em;
}
.login-main .register-now p {
    font-size: 1em;
}
.connect .toronto-map {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    height: 50%;
    overflow: hidden;
}
.connect .toronto-map img {
    display: inline-block;
    height: 100%;
    max-width: none;
    margin-left: -30px;
    opacity: .5;
}
.register {
    display: block;
    width: 100%;
}
.form-group.register-switch {
    border: none;
}
.register-switch {
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    background-color: rgba(26, 10, 56, 0.53);
    border-radius: 2px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}
.register-switch-input {
    display: none;
}
.register-switch-label {
    float: left;
    width: 50%;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
    font-weight: 500;
    color: black;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    opacity: .8;
}
.have-account {
    position: relative;
    bottom: 25px;
    text-align: right;
    padding: 0 40px 0 0;
    font-size: .8em;
}