@media (min-width: 480px) {
	.page-header-chat h1 {
	    margin-left: -25px;
	}
}
@media (min-width: 768px) {
	.page-header-chat h1 {
	    font-size: 2.1em;
	    margin-left: -40px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.mode-image {
		max-width: 1em;
	}
	.light-setting {
		right: 25px;
	}
	.messages {
		height: calc(69vh - 100px);
	}
	.sendMsg {
		flex-flow: row;
	}
	.msgTextbox {
		margin-bottom: 0;
	}
	.button-send-message {
	}
	.messages {
		height: calc(81vh - 60px);
	}
	.messages .user {
		display: block;
	}
	.msg, .other-msg {
		padding: 15px 25px;
	}
	.is-typing {
		bottom: 50px;
		width: 75%;
	}
}
@media (min-width: 992px) {
	.page-header-chat h1 {
	    font-size: 2.3em;
	    margin-left: -55px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.mode-image {
		max-width: 1.1em;
	}
	.light-setting {
		right: 30px;
	}
	.chat-pane, .sendMsg {
		width: 85%;
	}
	.msg, .other-msg {
		padding: 20px 35px;
	}
}   
@media (min-width: 1200px) {
	.page-header-chat h1 {
	    font-size: 2.5em;
	    margin-left: -85px;
	}
	.mode-image {
		max-width: 1.3em;
	}
	.chat-pane, .sendMsg {
		width: 75%;
	}
	.msg, .other-msg {
		padding: 20px 50px;
	}
}
   