
    <header class="page-header">     
        <h1>India Room</h1>
        <a class="index-link" href="/"><span class="fa fa-home"></span></a>
    </header>

    <section id="chat-pane" class="chat-pane">
        <ol id="messages" class="messages">
            <ol id="old-messages" class="old messages"></ol>
        </ol>
        <!-- Form: Input field, send button, 
                 Messages: ordered list -->
        <form id="sendMsg" class="sendMsg">
            <input type="text" class="msgTextbox" id="txt" autocomplete="off" placeholder="Type message..." name="txt" autofocus>
            <input type="hidden" name="userRoom" id="userName" value="{{user}}">
            <input type="hidden" name="userRoom" id="userRoom" value="{{room}}">
            <input type="submit" name="" id="Send" value="Send">

        </form>
    </section>

    <script src="https://use.fontawesome.com/f91f1a6630.js"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/js/connect.js"></script>
