

            <header class="page-header">        
                
                <div class="header-inner">
                    <h1>Welcome To Chat<span class="fa fa-link loc"></span>Loc</h1>
                </div>
                            
            </header>
                    
            <main class="login-main">
                
                <div class="main-wrapper">
                
                     <section class="register-now">

                    <section class="connect">
                        <h1 class="header">Log In</h1>
                        <p>Connect with People Close By</p>
                        
                        <div class="toronto-map">
                            <img src="/images/toronto-map.png" alt="toronto map">
                        </div>
                        
                    </section>

                    <section class="registration">

                        <form action="/user/login" method="POST" class="register">
                            <div class="form-group">
                                <label for="name">Username</label>
                                <input type="text" name="name" id="name" 
                                    {{#if loginVals.name}}
                                        value="{{loginVals.name}}"
                                    {{/if}} 
                                class="register-input" required>
                            </div>
                            {{#if errors.name}}
                                <span class="error">Username should not be empty <span class="fa fa-exclamation-triangle"></span></span>
                            {{/if}}
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="register-input" required>
                            </div>
                            {{#if errors.password}}
                                <span class="error">Password should not be empty <span class="fa fa-exclamation-triangle"></span></span>
                            {{/if}}
                            <div class="form-group">
                                <input type="submit" name="submit-btn" value="Log In" id="submit-btn" class="register-button">
                            </div>
                            {{#if errors}}
                                <span class="error error-final">Wrong login credentials.</span>
                            {{/if}}

                            <input type="hidden" id="location-input" name="submit-btn" id="submit-btn" value=""> 

                        </form>

                        <p class="have-account">Already have an account? <a href="registration">Register instead</a></p>

                    </section>
                        
                </section>
                
                </div>
        
            </main>
            
            