            

            <header class="page-header">        
                
                <div class="header-inner">
                    <h1>Welcome To Chat<span class="fa fa-link loc"></span>Loc</h1>
                </div>
                            
            </header>

            <main class="roomlist-area">

            	<div id="map" class="map-canvas"></div>

            	<section class="roomlist">

            		<section class="rooms">
            			<a class="room-btn btn" href="">Etobicoke chatroom</a>
            			<hr>
            			<a class="room-btn btn" href="">India chatroom</a>
            		</section>

            		<section class="joined">

            			<section class="origin">
            				<h2>Logged In Users from (Your Origin)</h2>

            				<ul class="same-origin">
            					{{#each filteredOrigin}}
            						<li>
            							<b class="origin-name">{{this.name}} ({{this.sex}}) </b>
            							<span class="current-loc">
            								<em>Currently at</em>: 
            								<span class="origin-road">{{this.roadLoc}}</span>
            							</span>
            						</li>
            					{{/each}}
            				</ul>
            			</section>

            			<section class="district">
            				<h2>Logged In Users from (Your District)</h2>
            			</section>

            			<ul class="same-district">
            			</ul>

            		</section>

            	</section>

            </main>

            <script defer src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
            <script defer type="text/javascript" src="/js/nav.js"></script>