            

            <header class="page-header">        
                
                <div class="header-inner">
                    <h1>Welcome To Chat<span class="fa fa-link loc"></span>Loc</h1>
                </div>
                            
            </header>

            <main class="roomlist-area">

            	<section class="roomlist">

            		<section class="rooms">
            			<a class="room-btn btn" href="">Etobicoke chatroom</a>
            			<hr>
            			<a class="room-btn btn" href="">India chatroom</a>
            		</section>

            		<section class="joined">

            			<section class="origin">
            				<h2>Logged In Users from (Your Origin)</h2>
            			</section>

            			<section class="district">
            				<h2>Logged In Users from (Your District)</h2>
            			</section>

            		</section>

            	</section>


            </main>