
.chatwrap {
	transition: background 1s linear;
}
.chatwrap.darkmode {
	background:  #000000;
}
.darkmode .old.messages li div {
	background-color: #292C35;
	color: #ffffff;
}
.darkmode .msgTextbox {
	border: 1px solid #ffffff !important;
	color:#ffffff !important;
}
.darkmode .button-send-message {
    color: var(--red);
    background-color: #ffffff !important;
    transition: all .2s;
}
.light-setting {
	position: fixed;
	top: 25px;
	right: 30px;
	z-index: 100;
}
.mode-image {
	max-width: 1.3em;
	margin: 1em;
}
button.light {
	appearance: none;
	-webkit-appearance: none;
	border: outset thin var(--light-grey);
	outline: none;
	cursor: pointer;
	background: var(--grey);
	transition: opacity .2s;
}
button.light:hover{
	opacity: .7;
}
button.light.darkmode {
	background: #000;	
}
.darkmode .is-typing > span {
	color: #fff;
	text-shadow: none;
	border: 0;
}
.darkmode .is-typing > span > span {
	text-shadow: none;
}